
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
<link href="https://fonts.googleapis.com/css?family=Tomorrow&display=swap" rel="stylesheet">

<style>
    * {
        font-family: 'Tomorrow', sans-serif;
        box-sizing: border-box;
        padding: 1%;

    }
</style>
<div>
<h1 style="background-color:darkseagreen; text-align: center; font-weight: 900; font-size: 8rem;">Results for
    <em><%= title %></em> </h1>
<div>
<h1 style="background-color: crimson;color: cadetblue; text-align: center; font-weight: 700; font-size: 5rem;">!!! Movie Not Found !!!</h1>
</div>
<div style="text-align:center; background-color:lightsteelblue;">
<a class="button is-large is-success is-rounded " href="/">
    Search Again
</a>
</div>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>